*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::placeholder{
    color: whitesmoke;
    text-align: center;
}
.wrapper{
    overflow: hidden;
}
.wrapper img{
    transition: scale 400ms;
    height: 100%;
    width: 100%;
}
.wrapper:hover img{
    scale: 120%;
}